<% include nav.ejs %>
<main>
    <div id="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-content">
                        <h2>美食总汇</h2>
                        <span>这里总能找到你想要的</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="product-post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-section">
                        <h2>分 享 区</h2>
                        <img src="images/under-heading.png" alt="" />
                    </div>
                </div>
            </div>
            <div id="single-blog" class="page-section first-section">
                <div class="container">
                    <div class="row">
                        <div class="product-item col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="image">
                                        <div class="image-post">
                                            <img src="images/single-post.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <h3>美味蛋糕</h3>
                                            <span class="subtitle"><span>4</span> 条评论</span>
                                        </div>
                                        <p>材料：<br>
                                            紫薯泥：160克；酸奶：200克；白糖：10克；淡奶油：200ml；白糖：20克；吉利丁粉：10克；牛奶：40克；蛋糕：2片；<br><br>
                                            做法：<br>
                                            1.六寸蛋糕切三片，用两片，切去边缘稍微小于模具;2.紫薯蒸熟;3.加入酸奶放入料理机;4.打成糊状;5.牛奶加白糖搅拌均匀;6.吉利丁粉提前用清水泡软隔热融化倒入牛奶液中;7.淡奶油加白糖打发至六七分发，能勉强流动;8.然后将牛奶液放入紫薯液中;9.搅拌成均匀的紫薯糊;10.将淡奶油倒入紫薯糊中搅拌均匀;11.紫薯慕斯糊做好了;12.模具内放入一片蛋糕片;13.放入三分之一慕斯糊。冰箱稍微冷藏几分钟表面凝固;14.再放入另一片;15.剩余的慕斯糊倒入放冰箱冷藏一夜;16.不做镜面就可以食用了;17.切开层次很好。
                                        </p>
                                    </div>
                                    <div class="divide-line">
                                        <img src="images/div-line.png" alt="" />
                                    </div>
                                    <div class="comments-title">
                                        <div class="comment-section">
                                            <h4><span>4</span> 评论</h4>
                                        </div>
                                    </div>
                                    <div class="all-comments">
                                        <div class="view-comments">
                                            <div class="comments">
                                                <div class="author-thumb">
                                                    <img src="images/author-comment1.jpg" alt="">
                                                </div>
                                                <div class="comment-body">
                                                    <h6>雅静</h6>
                                                    <span class="date">2020/1/20 &nbsp;&nbsp;&nbsp;&nbsp;20:00</span>
                                                    <a href="#" class="hidden-xs">回复</a>
                                                    <p>这个蛋糕做起来很简单，给孩子们做了点，都说很好吃，希望有更多的更好吃的甜点做法给我们分享出来。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="replyed-form">
                                            <div class="comments replyed">
                                                <div class="author-thumb">
                                                    <img src="images/author-comment2.jpg" alt="">
                                                </div>
                                                <div class="comment-body">
                                                    <h6>雪娴</h6>
                                                    <span class="date">2020/1/20 &nbsp;&nbsp;&nbsp;&nbsp;21:02</span>
                                                    <a href="#" class="hidden-xs">回复</a>
                                                    <p>我有一个红糖蒸年糕的做法你可以去试试，原材料：糯米粉500克，红片糖450克，水250克。步骤： 1.红糖加水珠溶。 2.把糖水倒入糯米粉中，搅拌均匀。 3.把面糊倒入扫好油的方盘内蒸约1小时，出炉后放凉切件即成。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="view-comments">
                                            <div class="comments">
                                                <div class="author-thumb">
                                                    <img src="images/author-comment3.jpg" alt="">
                                                </div>
                                                <div class="comment-body">
                                                    <h6>歆婷</h6>
                                                    <span class="date">2020/1/19 &nbsp;&nbsp;&nbsp;&nbsp;17:00</span>
                                                    <a href="#" class="hidden-xs">回复</a>
                                                    <p>我来分享一个奇士小汤圆的做法，原材料：小磨糯米粉200克，枸杞10克，新奇士橙1个，调味料：精盐，白糖各适量，清水150克 步骤： 1.糯米粉和匀揉透； 2.新奇士橙去皮切粒，枸杞泡洗，糯米粉搓成小汤圆，入沸水煮熟。用凉水泡着；3.锅内注入清水，下入全部原料。用小火煮透，盛入小碗内即成。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="view-comments">
                                            <div class="comments">
                                                <div class="author-thumb">
                                                    <img src="images/author-comment4.jpg" alt="">
                                                </div>
                                                <div class="comment-body">
                                                    <h6>心琪</h6>
                                                    <span class="date">2020/1/19 &nbsp;&nbsp;&nbsp;&nbsp;17:00</span>
                                                    <a href="#" class="hidden-xs">回复</a>
                                                    <p>个人推荐西米火龙果，原材料：西米150克，火龙果1个。调味料：白糖100克，湿面粉20克，清水适量。步骤： 1.西米用开水泡透蒸熟，火龙果对半剖开，挖空起肉切粒； 2.锅烧热，注入清水，加入白砂糖.西米.火龙果粒一起煮开； 3.用面粉勾芡后盛入火龙果外壳内即可。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-1">
                                    <div class="side-bar">
                                        <div class="news-letters">
                                            <h4>分 类 区</h4>
                                            <div class="archives-list">
                                                <ul>
                                                    <li><a href="/question"><i class="fa fa-angle-right"></i>简单甜点 <span>(20)</span></a></li>
                                                    <li><a href="/question"><i class="fa fa-angle-right"></i>生活小技巧 <span>(17)</span></a></li>
                                                    <li><a href="/question"><i class="fa fa-angle-right"></i>图书推荐 <span>(15)</span></a></li>
                                                    <li><a href="/question"><i class="fa fa-angle-right"></i>精美小商品 <span>(30)</span></a></li>
                                                    <li><a href="/question"><i class="fa fa-angle-right"></i>节日礼物 <span>(24)</span></a></li>
                                                    <li><a href="/question"><i class="fa fa-angle-right"></i>健康美食 <span>(50)</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="recent-post">
                                            <h4>热 门 评 论</h4>
                                            <div class="posts">
                                                <div class="recent-post">
                                                    <div class="recent-post-thumb">
                                                        <img src="images/recent-post1.jpg" alt="">
                                                    </div>
                                                    <div class="recent-post-info">
                                                        <h6><a href="#">牛奶布丁的简单做法</a></h6>
                                                        <span>2020年4月24日</span>
                                                    </div>
                                                </div>
                                                <div class="recent-post">
                                                    <div class="recent-post-thumb">
                                                        <img src="images/recent-post2.jpg" alt="">
                                                    </div>
                                                    <div class="recent-post-info">
                                                        <h6><a href="#">如何清理卫生死角</a></h6>
                                                        <span>2019年12月3日</span>
                                                    </div>
                                                </div>
                                                <div class="recent-post">
                                                    <div class="recent-post-thumb">
                                                        <img src="images/recent-post3.jpg" alt="">
                                                    </div>
                                                    <div class="recent-post-info">
                                                        <h6><a href="#">过节送给心爱的她什么礼物才合适</a></h6>
                                                        <span>2019年11月7日</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="advertisement">
                                            <h4>特 价 商 品</h4>
                                            <div class="flickr-images">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="images/flickr-image1.jpg" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="images/flickr-image2.jpg" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="images/flickr-image3.jpg" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="images/flickr-image4.jpg" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="images/flickr-image5.jpg" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="images/flickr-image6.jpg" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="images/flickr-image7.jpg" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="images/flickr-image8.jpg" alt="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                                        <img src="images/flickr-image9.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<% include footer.ejs%>
</body>
</html>