<% include nav.ejs%>
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>宝贵意见汇聚地</h2>
                    <span>有什么意见或者其他什么想法请联系我们</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="product-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>联 系 方 式</h2>
                    <img src="images/under-heading.png" alt="" >
                </div>
            </div>
        </div>
        <div id="contact-us">
            <div class="container">
                <div class="row">
                    <div class="product-item col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="message-form">
                                    <form action="#" method="post" class="send-message">
                                        <div class="row">
                                            <div class="name col-md-4">
                                                <input type="text" name="name" id="name" placeholder="名字" />
                                            </div>
                                            <div class="email col-md-4">
                                                <input type="text" name="email" id="email" placeholder="邮箱" />
                                            </div>
                                            <div class="subject col-md-4">
                                                <input type="text" name="subject" id="subject" placeholder="主题" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text col-md-12">
                                                <textarea name="text" placeholder="请写下您宝贵的意见..."></textarea>
                                            </div>
                                        </div>
                                        <div class="send">
                                            <button type="submit">提交</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info">
                                    <p>想要了解更多可以联系我们，我们的联系方式在下方↓</p>
                                    <ul>
                                        <li><i class="fa fa-phone"></i>010-020-0340</li>
                                        <li><i class="fa fa-globe"></i>河南省郑州市</li>
                                        <li><i class="fa fa-envelope"></i><a href="#">xyx@163.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs%>