<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-md-9">
                    <div class="subscribe-form">
                        <span>联 系 我 们</span>
                        <form method="get" class="subscribeForm">
                            <input id="subscribe" type="text" />
                            <input type="submit" id="submitButton" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer">
            <div class="row">
                <div class="col-md-3">
                    <div class="about">
                        <h4 class="footer-title">关于我们</h4>
                        <p>心莜轩不单单是一个买卖东西的网站，还有美食做法分享，还有生活小技巧，其他还有很多好的东西都可以分享出来，另外还有很多功能需要优化，有什么建议可以提出来。
                            <br><br>私聊请戳这里→<a rel="nofollow" href="/contact"> 私聊 </a> 欢迎大家提出自己宝贵的意见，我们定当洗耳恭听</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shop-list">
                        <h4 class="footer-title">更多分类</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i>新的烧烤菜单</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>健康新鲜的果汁</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>美味的辛辣食物</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>意大利披萨</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>纯奶/酸奶</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>冰淇淋</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="recent-posts">
                        <h4 class="footer-title">最近更新</h4>
                        <div class="recent-post">
                            <div class="recent-post-thumb">
                                <img src="../images/recent-post1.jpg" alt="">
                            </div>
                            <div class="recent-post-info">
                                <h6><a href="#">美味和健康的菜单</a></h6>
                                <span>20/12/2020</span>
                            </div>
                        </div>
                        <div class="recent-post">
                            <div class="recent-post-thumb">
                                <img src="../images/recent-post2.jpg" alt="">
                            </div>
                            <div class="recent-post-info">
                                <h6><a href="#">简单美味的食物</a></h6>
                                <span>16/12/2020</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="more-info">
                        <h4 class="footer-title">更多联系方式：</h4>
                        <p>想要了解更多可以联系我们，我们的联系方式在下方↓</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>010-020-0340</li>
                            <li><i class="fa fa-globe"></i>河南省郑州市</li>
                            <li><i class="fa fa-envelope"></i><a href="#">xyx@163.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <p>Copyright © 2020 <a href="/">心莜轩</a>  </p>
        </div>
    </div>
</footer>
</body>
</html>