<% include nav.ejs%>
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>精品选区</h2>
                    <span>这里有很多精品特惠商品，可供你选择。</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="products-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="product-heading">
                    <h2>没找到想要的吗？</h2>
                    <img src="images/under-heading.png" alt="" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="filters col-md-12 col-xs-12">
                <ul id="filters" class="clearfix">
                    <li><span class="filter" data-filter="all">全 部 </span></li>
                    <li><span class="filter" data-filter=".vegetables"> 蔬 菜 </span></li>
                    <li><span class="filter" data-filter=".clothes"> 衣 服 </span></li>
                    <li><span class="filter" data-filter=".computer"> 电 脑 </span></li>
                    <li><span class="filter" data-filter=".life">生活用品</span></li>
                    <li><span class="filter" data-filter=".travel">旅行必备</span></li>
                </ul>
            </div>
        </div>
        <div class="row" id="Container">
            <div class="col-md-3 col-sm-6 mix portfolio-item vegetables">

                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product1.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product1_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">白菜</a></h3>
                        <span class="text-category fl">￥16.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item clothes">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product2.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product2_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">衬衫</a></h3>
                        <span class="text-category fl">￥24.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item vegetables">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product3.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product3_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">土豆</a></h3>
                        <span class="text-category fl">￥12.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item life">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product4.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product4_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">床单</a></h3>
                        <span class="text-category fl">￥8.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item clothes">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product5.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product5_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">外套</a></h3>
                        <span class="text-category fl">￥16.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item life">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product6.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product6_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">被子</a></h3>
                        <span class="text-category fl">￥8.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item travel">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product7.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product7_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">行李箱</a></h3>
                        <span class="text-category fl">￥54.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item travel">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product8.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product8_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">小型休闲床</a></h3>
                        <span class="text-category fl">￥105.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item travel">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product3.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product3_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">钓鱼竿</a></h3>
                        <span class="text-category fl">￥16.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item computer">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product2.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product2_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">华硕笔记本</a></h3>
                        <span class="text-category fl">￥4718.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item computer">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product1.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product1_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">苹果笔记本</a></h3>
                        <span class="text-category fl">￥9816.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item clothes">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="images/product6.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="images/product6_big.jpg"><img src="images/open-icon.png" alt="" /></a>
                                <span>点击查看大图</span>
                            </div>
                        </div>
                    </div>
                    <div class="label-text">
                        <h3><a href="single-post.html">牛仔裤</a></h3>
                        <span class="text-category fl">￥36.00</span>
                        <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs%>