 <% include nav.ejs%>
    <main>
        <div id="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="slider-caption">
                            <h1>低调奢华有内涵</h1>
                            <p>我要带你去海边拍照，我要带你去游遍全时间，记录每一个美好的瞬间。
                                <br><br>要不要跟我一起？</p>
                            <a href="/good">马上行动</a>
                        </div>
                        <img src="images/slide1.jpg" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>一个管够，两个管饱</h1>
                            <p>这的玉米个个粒大饱满，一个顶三个，出门在外缺少的就是这个。
                                <br><br>确定不来点吗？</p>
                            <a href="/good">马上行动</a>
                        </div>
                        <img src="images/slide2.jpg" alt="" />
                    </li>
                    <li>
                        <div class="slider-caption">
                            <h1>赠人玫瑰，手有余香</h1>
                            <p>七夕，一个值得祝福的日子，给你心爱的人准备99朵玫瑰，让她/他感受到你的心意
                                <br><br>确定不要吗？</p>
                            <a href="/good">马上行动</a>
                        </div>
                        <img src="images/slide3.jpg" alt="" />
                    </li>
                </ul>
            </div>
        </div>
        <div id="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-section">
                            <h2>最新商品</h2>
                            <img src="images/under-heading.png" alt="" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="images/new-1.jpg" alt="">
                            </div>
                            <h4>天然蜂蜜</h4>
                            <p>天然蜂蜜多种独特营养成分：可被人体直接吸收的葡萄糖和果糖，约65-80%；各种氨基酸，包括人体不能合成的8种必需氨基酸，约0.3%；与人体血清所含比例几乎相等的20余种矿物质，约0.06%；20余种促进人体生长和代谢的维生素；多种活性酶。</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="images/new-2.jpg" alt="">
                            </div>
                            <h4>定制高跟鞋</h4>
                            <p>穿上高跟鞋可以给女性带来自信，自信和从容是一个女人最美丽的武器，自信的女性总是那么迷人。</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="images/new-3.jpg" alt="">
                            </div>
                            <h4>笔记本</h4>
                            <p>笔记本让你可以随时随地使用电脑，应付突发事件，随时随地的娱乐。还可以在有无线网络的地方上网，如酒店，麦当劳，机场，商城，公司，广场，咖啡屋，西餐厅等。</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <div class="icon">
                                <img src="images/new-4.jpg" alt="">
                            </div>
                            <h4>山地车</h4>
                            <p>经常骑行能预防大脑老化，提高神经系统的敏捷性。(2)能提高心肺功能，锻炼下肢肌力和增强全身耐力。(3)能减肥。(4)能益寿延年。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="latest-blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-section">
                            <h2>最热商品信息</h2>
                            <img src="images/under-heading.png" alt="" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-post">
                            <div class="blog-thumb">
                                <img src="images/blogpost1.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="content-show">
                                    <h4><a href="javascript:void(0);">青豆角</a></h4>
                                    <span>2.20￥/斤</span>
                                    <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                                </div>
                                <div class="content-hide">
                                    <p>青豆角是豆角种类里的一种，又名豇豆。主要盛产于长江以南的各个地区。青豆角豆荚长而形成管状，质脆而身软。青豆角含有丰富的维生素以及矿物质，具有调理肠胃，化湿解毒治脾虚等功效。同时，青豆角肉质肥厚，口感脆嫩，味道可口。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-post">
                            <div class="blog-thumb">
                                <img src="images/blogpost2.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="content-show">
                                    <h4><a href="javascript:void(0);">樱桃</a></h4>
                                    <span>13.00￥/斤</span>
                                    <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                                </div>
                                <div class="content-hide">
                                    <p>樱桃可以抗贫血，促进血液生成 樱桃含铁量高，位于各种水果之首。铁是合成人体血红蛋白、肌红蛋白的原料，在人体免疫、蛋白质合成及能量代谢等过程中，发挥着重要的作用，同时也与大脑及神经功能、衰老过程等有着密切关系。常食樱桃可补充体内对铁元素量的需求，促进血红蛋白再生，既可防治缺铁性贫血，又可增强体质，健脑益智。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-post">
                            <div class="blog-thumb">
                                <img src="images/blogpost3.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="content-show">
                                    <h4><a href="javascript:void(0);">玩具熊</a></h4>
                                    <span>69.00￥/只</span>
                                    <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                                </div>
                                <div class="content-hide">
                                    <p>生日的时候，买一个送给你心爱的她，让她感受到你对她的爱的心意</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-post">
                            <div class="blog-thumb">
                                <img src="images/blogpost4.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="content-show">
                                    <h4><a href="javascript:void(0);">竹叶茶</a></h4>
                                    <span>49.00￥/斤</span>
                                    <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                                </div>
                                <div class="content-hide">
                                    <p>【功用】清热，利尿消肿。 【主治】①流行性感冒，发热，口渴，烦躁，尿少色赤。②上呼吸道感染，咽喉、扁桃体炎，口渴烦热。 【制法】上药挫碎，纳入热水瓶中，用沸水冲泡，盖闷10多分钟。频频饮用，于1日内饮尽。 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-post">
                            <div class="blog-thumb">
                                <img src="images/blogpost5.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="content-show">
                                    <h4><a href="javascript:void(0);">粉色水晶</a></h4>
                                    <span>1999.00￥/克</span>
                                    <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                                </div>
                                <div class="content-hide">
                                    <p>增进姻缘，改善感情。粉红光可改善人际关系，获得人缘，与紫水晶相同，可润滑男女间的感情，带来好姻缘。同时开发心轮，助人追求爱情，增进人脉，主心、肺功能，有助循环和呼吸器官的健康。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="blog-post">
                            <div class="blog-thumb">
                                <img src="images/blogpost6.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="content-show">
                                    <h4><a href="javascript:void(0);">冰镇饮料</a></h4>
                                    <span>5.00￥/杯</span>
                                    <span class="fr"><i class="fa fa-shopping-cart"></i>加入购物车</span>
                                </div>
                                <div class="content-hide">
                                    <p>在炎热的酷暑，来一杯冰镇饮料，是最美好的事情了。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="testimonails">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-section">
                            <h2>强 烈 推 荐</h2>
                            <img src="images/under-heading.png" alt="" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="testimonails-slider">
                            <ul class="slides">
                                <li>
                                    <div class="testimonails-content" style="text-align:center">
                                        <img src="/images/intensity1.jpg" alt="" style="margin-bottom: 10px">
                                        <p>益智玩具还具有协调身体机能的作用，例如孩子将一盒积木砌出图形，除了要用脑，还要有手的配合，这样通过玩益智玩具，训练并逐渐建立起孩子的手脚协调、手眼配合等身体机能；具有练习社交活动的作用，孩子在跟他们的同伴或父母玩益智玩具的过程中，不知不觉间在发展他们的社会关系，即使他们在合作或竞争中容易产生执拗和争吵，实际上他们正在发展合作精神和学习与人分享的心理，为日后融入社会打下基础。同时，语言能力、情绪释放、动手能力等都得到一定提高。</p>
                                        <h6>教育必备 - <a href="javascript:void(0);">益智玩具</a></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonails-content" style="text-align:center">
                                        <img src="/images/intensity2.jpg" alt=""  style="margin-bottom: 10px">
                                        <p>保温杯能保持热量不易流失，因此主要体现在它可以使水保持一定的温度，在寒冷的时候给自己一点温暖，避免了喝凉水引起的肠胃不适，大家知道喝凉水得病的概率比喝开水的病的概率大的多，还有，它不能保证细菌不会入侵。</p>
                                        <h6>喝水必备 - <a href="javascript:void(0);">保温杯</a></h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="testimonails-content" style="text-align:center">
                                        <img src="/images/intensity3.jpg" alt=""  style="margin-bottom: 10px">
                                        <p>双肩书包会把负重的力量平均分给两个肩膀，使身体处于平衡状态，有助于防止学生出现高低肩的现象。双肩书包能够装更多的东西，就算是装个手提电脑，书包里都还有多余的空间装其他的东西，就算出门旅行也可以装许多有用的东西，这是很实用的。</p>
                                        <h6>旅行必备 - <a href="javascript:void(0);">双肩背包</a></h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
   <% include footer.ejs%>
