<% include nav.ejs%>
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>生活分享</h2>
                    <span>生活中有什么好的小技巧，生活中有什么美食都可以在这里分享出来。</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="timeline-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>每日分享</h2>
                    <img src="images/under-heading.png" alt="" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>厨房减少油烟的窍门</h3>
                <p>（1）改变“急火炒菜”的烹饪习惯。不要使油温过热，油温不要超过200℃（以油锅冒烟为极限），这样不仅能减轻“油烟综合征”，下锅菜中的维生素也能得到有效保存。<br>
                    （2）最好不用反复烹炸的油。有的家庭主妇为了节省点油，炸鱼、炸排骨用过的油反复使用也不弃掉，殊不知这里面也含有很多致癌物质。反复加热的食用油，如多次用来炸食品的食用油，不仅本身含有致癌物质，它所产生的油烟含致癌物也更多，危害更大。<br>
                    （3）一定要做好厨房的通风换气。厨房要经常保持自然通风，同时还要安装性能、效果较好的抽油烟机。在烹饪过程中，要始终打开抽油烟机，炒完菜10分钟后再关抽油烟机。</p>
            </div>
            <div class="col-md-6">
                <h3>番茄汁的三个生活妙用</h3>
                <p>（1）为塑料容器除臭。用来盛装食物的塑料容器由于装的食物种类一般比较杂，容易串味甚至有臭味，遇到这种情况可以用番茄汁来除臭。方法是先在海绵上倒些番茄汁，再用海绵将番茄汁擦到容器内侧，然后用添加了洗涤剂的温水清洗容器和盖子，再用清水洗净后放在阴凉通风处自然风干。两天后，塑料容器里的臭味便会荡然无存，随时可以再度利用了。<br>
                    （2）去除冰箱里的异味。停电引起冰箱里的食物变坏，异味横生，您有过这样的经历吗？试试用番茄汁除掉冰箱里的腐败味道。先将腐败食物处理掉，然后用在番茄原汁里浸泡过的海绵或洗碗布，把冰箱里面彻底揩擦，之后用温肥皂水冲洗，再擦干。如果仍有少许异味，重复这个过程；或用醋代替番茄汁来重复这个过程。<br>
                    （3）缓解咽喉疼痛。将半杯番茄汁、半杯温水搀在一起，用来漱喉，能够临时减轻咽喉疼痛的症状。</p>
            </div>
        </div>
        <div class="space50"></div>
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="images/timeline1.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>红薯饼</h4></a>
                            <a href="#"><p>点击进入</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="images/timeline2.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>双菇烩蛋黄</h4></a>
                            <a href="#"><p>点击进入</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="images/timeline3.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>煎饼果子</h4></a>
                            <a href="#"><p>点击进入</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="images/timeline4.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>双皮奶</h4></a>
                            <a href="#"><p>点击进入</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="images/timeline5.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>豆沙小小酥</h4></a>
                            <a href="#"><p>点击进入</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="images/timeline6.jpg" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>糖醋丸子</h4></a>
                            <a href="#"><p>点击进入</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="our-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>为你喜欢的美食投上一票吧！</h2>
                    <img src="images/under-heading.png" alt="" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="authors">
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="images/author1.jpg" alt="Tracy - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#" class="lh"><i class="fa fa-thumbs-o-up"></i></a></li>
                                    <li><a href="#" class="lh"><i class="fa fa-thumbs-o-down"></i></a></li>
                                    <li><a href="#" class="lh"><i class="fa fa-heart-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>腊八粥</h2>
                        <span>由苏雪提供</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="images/author2.jpg" alt="Mary - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#" class="lh"><i class="fa fa-thumbs-o-up"></i></a></li>
                                    <li><a href="#" class="lh"><i class="fa fa-thumbs-o-down"></i></a></li>
                                    <li><a href="#" class="lh"><i class="fa fa-heart-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>麻辣土豆</h2>
                        <span>由莫桐提供</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="images/author3.jpg" alt="Julia - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#" class="lh"><i class="fa fa-thumbs-o-up"></i></a></li>
                                    <li><a href="#" class="lh"><i class="fa fa-thumbs-o-down"></i></a></li>
                                    <li><a href="#" class="lh"><i class="fa fa-heart-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>棒子骨汤面</h2>
                        <span>由左轩提供</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div class="author">
                            <img src="images/author4.jpg" alt="Linda - templatemo">
                        </div>
                        <div class="overlay">
                            <div class="author-caption">
                                <ul>
                                    <li><a href="#" class="lh"><i class="fa fa-thumbs-o-up"></i></a></li>
                                    <li><a href="#" class="lh"><i class="fa fa-thumbs-o-down"></i></a></li>
                                    <li><a href="#" class="lh"><i class="fa fa-heart-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="author-details">
                        <h2>臭豆腐</h2>
                        <span>由晨城提供</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="testimonails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>热门美食分享</h2>
                    <img src="images/under-heading.png" alt="" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonails-slider">
                    <ul class="slides">
                        <li>
                            <div class="testimonails-content" style="text-align:center">
                                <img src="images/hotfood1.jpg" alt="" style="margin-bottom: 10px">
                                <p>食材：米饭，鸡蛋，牛肉粒，胡萝卜，圆葱，西红柿，番茄酱，盐，油<br>
                                    做法：
                                    1.胡萝卜、圆葱、西红柿切小块备用，牛肉粒是熟的备用。
                                    2.色拉油适量，放入干净锅内，烧8分热，倒入切块的胡萝卜、圆葱、翻炒，倒入一个鸡蛋液翻炒成型，加入西红柿炒干水分。
                                    3.倒入米饭和牛肉粒，加入适量的盐和料酒。
                                    4.翻炒入味即可盛出。
                                    5.另取小碗打入2个鸡蛋，拌匀，加入适量的盐。
                                    6.平底锅加入少量色拉油，倒入蛋液摊成鸡蛋饼，一定摊均匀哦。倒入炒好的米饭，包好盛盘即可，淋上番茄酱，完工。</p>
                                <h6>吉米分享 - <a href="#">蛋包饭</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content" style="text-align:center">
                                <img src="images/hotfood2.jpg" alt="" style="margin-bottom: 10px">
                                <p>原料：米饭(适量)、黄瓜(适量)、胡萝卜(适量)、面粉(适量)、牛奶(适量)、番茄酱(适量)<br>
                                    做法：
                                    1.准备食材。
                                    2.在胡萝卜和黄瓜切丝。
                                    3.把米饭放碗里用少许牛奶打散。
                                    4.加入面粉。
                                    5.加入适量清水和匀。
                                    6.加入胡萝卜和黄瓜拌匀。
                                    7.把面糊加入锅里煎制。
                                    8.煎至两面微黄。
                                    9.装盘，切块。
                                    10.挤上番茄酱即可。</p>
                                <h6>林妮分享 - <a href="#">蔬菜米饼饭</a></h6>
                            </div>
                        </li>
                        <li>
                            <div class="testimonails-content" style="text-align:center">
                                <img src="images/hotfood3.jpg" alt="" style="margin-bottom: 10px">
                                <p>原料：排骨(2条),冰糖(1小块),酱油(1勺),白糖(2勺),醋(1勺),姜片(3片),八角(1个),桂皮(1块),香叶(1片),油盐(适量)<br>
                                   做法：
                                    1.准备好原材料；
                                    2.锅中放入少许油，将排骨放入里面煸炒；
                                    3.将排骨的水分煸炒干， 表面微微发焦后加入冰糖和大料进去翻炒；
                                    4.翻炒几下后加入适量的料酒和酱油煎翻炒；
                                    5.翻炒至排骨上色后加入适量的水加盖炖煮十五分钟；
                                    6.将煮好的排骨倒入锅中，大火收汁，先加入的盐；
                                    7.再加入适量的糖；
                                    8.再倒入适量的醋，收汁即可盛入碗中。
                                </p>
                                <h6>谭雅分享 - <a href="#">糖醋排骨</a></h6>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs%>